.dark{
    background-color: #000 !important;
    color: #fff !important;
    height: 40px;
    padding: 0px 30px !important;
    width: auto;
    font-size: 14px;
    border-radius: 5px !important;
}